:root {
  --primary-dark-blue: rgb(25, 55, 102);
  --primary-blue: rgb(46, 96, 175);
  --primary-light-blue: rgb(92, 140, 216);
  --primary-white: rgb(255, 255, 255);
  --primary-light-grey: rgb(230, 230, 230);
  --primary-green: rgb(43, 170, 39);
  --primary-light-green: rgb(80, 199, 76);
  --primary-red: rgb(173, 22, 22);
  --primary-light-red: rgb(182, 79, 79);
}

html {
  background-color: var(--primary-dark-blue);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--primary-white);
  margin: 3rem 3rem 0 3rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* Todo Form */

form {
  background-color: var(--primary-light-grey);
  padding: 2rem;
  margin: 2rem 5rem 2rem 5rem;
  border-radius: 12px;
  width: 60%;
}

form input {
  padding: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 80%;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.addBtn {
  background-color: var(--primary-green);
  transition: 0.4s ease-in-out;
  border-radius: 0 5px 5px 0;
  width: 5rem;
}

.addBtn:hover {
  background-color: var(--primary-light-green);
  transition: 0.4s ease-in-out;
}

.errorMessage {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* Todo List */

.todoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoList {
  background-color: var(--primary-light-grey);
  padding: 2rem;
  margin: 2rem 5rem 5rem 5rem;
  border-radius: 12px;
  width: 60%;
}

.todoList h1 {
  color: var(--primary-dark-blue);
  margin: 0;
}

.todoList h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: rgb(128, 128, 128);
  font-weight: bold;
}

.clearBtn {
  background-color: var(--primary-red);
  transition: 0.4s ease-in-out;
  width: 12rem;
}

.clearBtn:hover {
  background-color: var(--primary-light-red);
  transition: 0.4s ease-in-out;
}

/* Todo */

.todo {
  padding: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease-in-out;
  cursor: initial;
}

.todo button {
  padding: 0;
}

.done {
  background-color: var(--primary-light-blue);
  transition: 0.2s ease-in-out;
  color: var(--primary-white);
  text-decoration: line-through;
  font-style: italic;
  border-radius: 8px;
}

.doneBtn {
  margin-right: 1rem;
}
